<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>

    <form action="/join" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <label for="">아이디</label>
        <input type="text" name="userId">
        <label for="">비밀번호</label>
        <input type="text" name="userPw">
        <label for="">비밀번호확인</label>
        <input type="text" name="userPwCheck">
        <label for="">이름</label>
        <input type="text" name="name">
        <label for="">이메일</label>
        <input type="text" name="email">
        
        <input type="submit" value="회원가입">
    </form>
</body>
</html>